
<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <title>Dori sanovchi AI</title>
  <style>
    body { font-family: sans-serif; text-align: center; margin-top: 100px; }
    input, button { margin-top: 20px; padding: 10px; }
  </style>
</head>
<body>
  <h2>🧠 Dori sanovchi model</h2>
  <form action="/predict" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required><br>
    <button type="submit">Aniqlash</button>
  </form>
</body>
</html>
